.jumbo{

    height: 200px;
    width:auto;
    background:black;
    color:white;
    text-align: center;
    margin-top:30px;
    background-image: url("/src/components/assests/namek.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Banner {
    background:#006680;
    color:black;
    font-weight: bold;
    height:100%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url("../../assests/namek.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1{
    text-align: center;
    color:blue;
    width:50%;

}


.logo{
    text-align: center;
    color:white;
    width: 70%;
}

.urScore{

text-align: center;
color:white;
float: right;
margin-right:80px;
}

.topScore{

    text-align: center;
    color: white;
    float: right;
    margin-right:80px;
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #003d4d;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display:flex;
  }
  
  /* Links inside the navbar */
  .navbar div {
    
    justify-content: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:33%;
    background: #003d4d;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }